/*Body style section*/
body{
    margin: 50px;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
/*titre style*/
h1{
    color: #DA0037;
    font-family: monospace;
    font-weight: bold;
}
/*Effet de rotation style section*/
@keyframes roll {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotate(920deg);
  }
}

.diceRoll {
  animation: roll 1s ease-in-out;
}

/*Image style section*/
#diceImg{
    width: 100px;
    padding-left: 90px;
    font-size: 70px;
}

/*Section buton*/
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #DA0037;
    color: white;
    font-size: 17px;
    font-family: monospace;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
   transform: scale(1.1);
}

/*Ul style section*/
#historyItems{
    list-style: none;
}

#historyItems li{
   font-size: 20px;
   box-shadow: 0 2px 8px rgb(0, 0, 0.15);
   width: 50vh;
   height: 50px;
   padding: 20px;
   margin: 8px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: monospace;
   color:#DA0037;
   font-weight: bold;
}

#historyItems li:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#historyItems li img{
    width: 50px;
}

