/*Body style section*/
body{
    margin: 0;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#diceImg{
    width: 100px;
    padding-left: 90px;
    font-size: 80px;
}

/*Section buton*/
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #DA0037;
    color: white;
    font-size: 20px;
    font-style: monospace;
}