/*Body style section*/
body{
    margin: 0;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(60deg);
    }
}

#diceImg{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 2;

    width: 100px;
    padding-left: 90px;
    font-size: 70px;
}

/*Section buton*/
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #DA0037;
    color: white;
    font-size: 20px;
    font-style: monospace;
}

/*Ul style section*/
#itemsRolled{
    list-style: none;
}

#itemsRolled li{
   font-size: 20px;
   box-shadow: 0 4px 18px rgb(0, 0, 0.15);
   width: 100vh;
   height: 50px;
   padding: 20px;
   margin: 20px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-style: monospace;
}

#itemsRolled li img{
    width: 50px;
}

