/*BOdy style section*/
body{
    margin: 0;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

img{
    width: 100px;
    padding-left: 100px;
}

/*Section buton*/
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(240, 86, 171);
    font-size: 20px;
    font-style: monospace;
}